<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${user.getRole()} + ' Dashboard'">Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <h3 class="text-center" th:text="${user.getRole()} + ' Dashboard'">Dashboard</h3>
    <div class="container border">
      <p class="text-end"><a href="/logout">Logout</a></p>
      <p th:text="${user.getUserId()}"></p>
      <p th:text="${user.getName}"></p>
      <p th:text="${user.getEmail()}"></p>
      <p th:text="${user.getMobile()}"></p>
      <p th:text="${user.getDob()}"></p>
      <p th:text="${user.getRole()}"></p>
      <p th:text="${user.getDegree()}"></p>
      <p th:text="${user.getExperience()}"></p>
      <p th:text="${user.getLocation()}"></p>
      <p th:text="${user.getHaveSkills()}"></p>
      <p th:text="${user.getPostedJobs()}"></p>
      <p th:text="${user.getApplicationsMade()}"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>